body {
    /* i used body tag universally to make every text in this format */
    font-family: 'Montserrat-Black';
}

#title {
    /* then i use to give an background and text color which having an title id */
    background-color: black;
    color: white;
}
.title-image {
    width: 89%;
    right: 30%;
}
/* headings  */
h1 {

    font-family: 'Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
}
h2 {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    line-height: 1.5;
}
h3 {
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: bold;
}
p {
    color: gray;
}
.container-fluid {
    padding: 3% 15% 7%;
}
#features {
    padding: 7% 15%;
    background-color: white;

}
.feature-box {
    text-align: center;
    padding: 5%;
}
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}
.download-button {
    margin: 5% 3% 5% 0;
}
.fas-0 {
    background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1rem;
}
.fas-1 {
    color: #9c47fc;
    display: block;
    background: -webkit-linear-gradient(#9c47fc, #356ad2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1rem;
}
.fas-2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1rem;
}
.fas-0:hover {
    background-image: linear-gradient(45deg, #4481eb 0%, #04befe 100%);
}
.fas-1:hover {
    background-image: linear-gradient(135deg, #FDD819 10%, #E80505 100%);
}
.fas-2:hover {
    background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
}

#testimonials {   
    padding: 7% 15%;
    text-align: center;
    background-color: black;
    color: white;
}
.watch {
    width: 20%;
    margin: 5px;
}
#press {
    text-align: center;
    padding-bottom: 4%;
    font-family: 'Montserrat';
    font-size: large;
    font-weight: bolder;
}

.amazon {
    margin-top: 2%;
}
.rl {
    margin: 1%;
    margin-bottom: 2%;
}
.ebay {
    margin-top: 3%;
}
.carousel-item {
    padding: 7% 15%;
}
.airpods {
    width: 10%;
    margin: 10px;
}
/* Pricing */
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;
}
.truck {
    color: #cfcbbc;
}
.inr {
    color: #85bb65;
}
.hands {
    color: #B5EAEA;
}
.mac {
    width: 35%;

}
@media only screen and (max-width: 600px) 
{
    #title {
        text-align: center;
    }

    .title-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .watch {
        width: 20%;
        margin: 5px;
    }

    .airpods {
        width: 10%;
        margin: 10px;
    }

    .mac {
        width: 35%;

    }
}
#cta{
    background-color: black ;
    text-align: center;
    padding: 7% 15% ;
    color: white;
    font-family: 'Montserrat-Black';
    line-height: 1.5;
}
#footer{
    text-align: center;
    padding: 7% 15%;
    line-height:3;
}
.facebook{
    color: #4267B2;
}
.twitter{
    color:#1DA1F2 ;
}
.instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
-webkit-background-clip: text;
/* Also define standard property for compatibility */
background-clip: text;
-webkit-text-fill-color: transparent;
}
.envelope{
      color:#F47C7C;
}
.shop{
    font-size: 3rem;
}
<b:if cond='data:blog.pageType == &quot;item&quot;'>
<style type='text/css'>
/*<![CDATA[*/
@font-face{font-family:"fontfutura";src:url("https://fonts.googleapis.com/css?family=Open+Sans") format("ttf");font-weight:normal;font-style:normal;}
a.btn-google{color:#fff}
.btn{padding:10px 16px;margin:5px;font-size:18px;line-height:1.3333333;border-radius:6px;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;font-weight:500;text-decoration:none;display:inline-block}
.btn:active:focus,.btn:focus{outline:0}
.btn:focus,.btn:hover{color:#333;text-decoration:none;outline:0}
.btn:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
.btn-google{color:#fff;background-color:#111;border-color:#000;padding:15px 16px 5px 40px;position:relative;font-family:fontfutura;font-weight:600}
.btn-google:focus{color:#fff;background-color:#555;border-color:#000}
.btn-google:active,.btn-google:hover{color:#fff;background-color:#555;border-color:#000;}
.btn-google:before{content:"";background-image:url(https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png);background-size:cover;background-repeat:no-repeat;width:30px;height:30px;position:absolute;left:6px;top:50%;margin-top:-15px}
.btn-google:after{content:"GET IT ON";position:absolute;top:5px;left:40px;font-size:10px;font-weight:400;}
/*]]>*/
</style>
</b:if>
